section.all-games__banner {
    background-image: url(./../assets/images/background-fire.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

section.all-games__banner i.fa-angle-down {
    position: absolute;
    display: block;
    bottom: 2.2em;
    left: 50%;
    right: 50%;
    margin: auto;
    color: white;
    font-size: 2.2em;
    animation-name: down-up;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes down-up {
    0% {
        bottom: 2.2em;
    }
    50% {
        bottom: 2.5em;
    }
    100% {
        bottom: 2.2em;
    }
}
img {
    height: 2.2em;
}

div.banner {
    padding: 160px 0;
}

h1 {
    font-size: 4em;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    line-height: 98px;
}

div.banner p {
    color: white;
    width: 100%;
    text-align: center;
}

div.input-group {
    display: flex;
    justify-content: space-between;
    width: 600px;
    max-width: 90%;
    margin: 1.5em auto;
    background-color: white;
    padding: 18px;
    border-radius: 10px;
    min-height: 2px;
    align-items: center;
}

div.input-group input {
    background: transparent;
    outline: none;
    border: none;
    flex: 1;
    color: #777;
    caret-color: var(--red);
    font-size: 16px;
    width: 100%;
}

div.input-group img {
    height: 2em;
    margin-right: 2em;
}

@media (max-width: 800px) {
    h1 {
        font-size: 3em;
        line-height: 50px;
    }

    div.input-group {
        padding: 14px;
    }
    div.input-group img {
        height: 1.5em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.8em;
        line-height: 50px;
    }

    div.input-group img {
        height: 1.2em;
        margin-right: 1em;
    }
}

/* ALL GAMES BUTTONS */
div.buttons {
    display: flex;
    justify-content: space-between;
    min-height: 2px;
    align-items: center;
    flex-wrap: wrap;
    width: 56em;
    max-width: 100%;
    margin: 3em auto;
}

div.buttons button {
    width: 8em;
    height: 2.5em;
    font-size: 16px;
    background-color: #efeff4;
    transition: background-color 1s;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

div.buttons button:hover {
    background-color: #eb4d4d35;
}
div.buttons button.selected {
    background-color: #eb4d4d;
    color: white;
}

@media (max-width: 640px) {
    div.buttons {
        margin: 1.5em auto;
    }
    div.buttons button {
        font-size: 14px;
        width: 5.8em;
        height: 2.7em;
    }
}

div.game-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.image-card {
    width: 20em;
    max-width: 100%;
    margin: 1.5em 1.6em;
}
div.image-card img {
    height: 26em;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1000px) {
    div.image-card {
        width: 18em;
        max-width: 100%;
        margin: 1.4em 1.6em;
    }
    div.image-card img {
        height: 24em;
    }
}

@media (max-width: 850px) {
    div.image-card {
        width: 15em;
        max-width: 100%;
        margin: 1.2em 1.6em;
    }
    div.image-card img {
        height: 22em;
    }
}

@media (max-width: 720px) {
    div.image-card {
        width: 100%;
        margin: 1.2em 0em;
    }
    div.image-card img {
        height: 22em;
    }
}

div.image-card div.flex {
    display: flex;
    justify-content: space-between;
    min-height: 2px;
    align-items: center;
    margin: 1.2em 0 0.6em 0;
}

div.image-card div.add {
    display: flex;
    justify-content: space-between;
}

b {
    font-size: 18px;
    color: #4f4f4f;
}

div.image-card > p {
    color: #4f4f4f;
    line-height: 28px;
}

div.image-card div.flex p {
    font-weight: 600;
    color: #353535;
    height: 18px;
    display: flex;
    align-items: center;
}

div.image-card p.sign {
    background-color: #c4c4c4;
    color: black;
    padding: 0px 10px;
    cursor: pointer;
}

p.num {
    margin: 0 0.5em;
}
