div.payment h4 {
    font-size: 2em;
    color: #4f4f4f;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    font-weight: 600;
    padding-bottom: 56px;
}

div.payment {
    box-shadow: -7px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 1.4em 2em;
}

div.pay-flex {
    display: flex;
    justify-content: flex-end;
    padding: 32px 0;
    min-height: 2px;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}

div.pay-flex > div {
    width: 60%;
}

div.pay-flex > div > p {
    font-size: 1.2em;
    color: #4f4f4f;
    margin-bottom: 8px;
    font-weight: 300;
}
div.pay-flex > div b {
    font-size: 1em;
    margin-top: 4px;
    display: block;
}
@media (max-width: 730px) {
    div.payment {
        box-shadow: none;
        padding: 1.4em 0em;
    }

    div.payment h4 {
        font-size: 1.4em;
        padding-bottom: 32px;
    }

    div.pay-flex > div {
        width: 100%;
    }

    div.pay-flex > div p,
    b {
        font-size: 1em;
    }
}

div.flex-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.flex-group input {
    width: 60%;
}

div.flex-group button {
    width: 35%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--red);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content p {
    color: white;
    margin-top: 2em;
}
.modal-content img {
    height: 120px;
    margin: auto;
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
